@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu',sans-serif;
}

:root{
/* Primary color*/
--marine-blue: hsl(213, 96%, 18%);
--purplish-blue: hsl(243, 100%, 62%);
--pastel-blue: hsl(228, 100%, 84%);
--light-blue: hsl(206, 94%, 87%);
--strawberry-red: hsl(354, 84%, 57%);

/*Neutral color*/

--cool-gray: hsl(231, 11%, 63%);
--light-gray: hsl(229, 24%, 87%);
--magnolia: hsl(217, 100%, 97%);
--alabaster: hsl(231, 100%, 99%);
--white: hsl(0, 0%, 100%);

--btn-width-desk:7em;
}

p{
    font-size: 16px;
}

.btn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-size: 16px;
}

main{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--magnolia);
    height: 100vh;
    width: 100vw;
    
}

.register_form{
    background-color: var(--white);
    width: 800px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    padding: 20px;
    display: flex;
}

aside{
    background-image: url("./assets/images/bg-sidebar-desktop.svg");
    height: 100%;
    width: 30%;
    border-radius: 10px;
    
}

form{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    padding: 2% 8%;
}

.sidebar_component{
    margin: 30px;
    display: flex;
    cursor: pointer;
}

.sidebar_numbers{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--light-gray);
    margin-right: 10px;
}

.sidebar_numbers p{
    font-size: 25px;
    color: var(--light-gray);
}

.sidebar_text :nth-child(1){
    color: var(--cool-gray);
    font-size: 15px;
}

.sidebar_text :nth-child(2){
    color: var(--white);
}


.form_step{
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: none;
    flex-direction: column;
    justify-content: space-between;

}


.form_title_head{
    color: var(--marine-blue);
    margin-top: 10%;
}

.form_title_para{
    color: var(--cool-gray);
}

section div p{
    color: var(--marine-blue);
}

.form_input{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid var(--light-gray);
    margin-top: 5px;
    outline: none;
}

.form_input:focus{
    border: 2px solid var(--cool-gray);

}

.form_next_button_div{
    display: flex;
    justify-content: flex-end;
}

.form_next{
    background-color: var(--marine-blue);
    color: var(--white);
    width: var(--btn-width-desk);
}
.form_back{
    background-color: transparent;
    margin-right: calc(100% - 10.8em);
    padding: 0;
}